@import "tailwindcss";

body {
  background-color: #e2e8f0;
  /* slate-200 benzeri */
  color: #111827;
  /* gray-900 benzeri */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}